html,
body {
  height: 100%;
  overflow-y: hidden;
  margin: 0px;
}

.container {
  height: 100%;
  background-color: #ffffff;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  height: 330px;
  width: 100vw;
  background-color: #332b2b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gif {
  overflow: hidden;
  margin: 15px 0;
  display: flex; /* Располагаем изображения в строку */
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;

}
.gif img {
  width: 79vw;
  height: 200px;
  border-radius: 15px;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

.content {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: center;
}

.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.radio-indicator {
  width: 16px;
  height: 16px;
  border: 2px solid rgb(111, 111, 216);
  border-radius: 50%;
  margin-right: 5px;
  transition: 0.7s;
}
.radio-indicator:hover{
  border: 2px solid #ffffff;

}
.radio-indicator .radio {
  width: 16px;
  height: 16px;
  background-color:rgb(111, 111, 216);
  border-radius: 50%; /* Добавляем скругление, чтобы сделать его круглым */
  display: inline-block; /* Делаем его видимым и круглым */
  transition: 0.7s;
}
.radio-indicator .radio-active {
  width: 16px;
  height: 16px;
  border-radius: 50%; /* Добавляем скругление, чтобы сделать его круглым */
  display: inline-block; /* Делаем его видимым и круглым */
  transition: 0.7s;
}
.radio-indicator .radio:hover{
  background-color: #ffffff;
}
body > div > div > div > img:nth-child(2) {
  display: none;
  opacity: 0;
}
body > div > div > div > img:nth-child(3) {
  display: none;
  opacity: 0;
}
body > div > div > div > img:nth-child(4) {
  display: none;
  opacity: 0;
}

@media screen and (min-width: 600px) {
  html,
  body {
    height: 100%;
    overflow-y: hidden;
    margin: 0px;
  }

  .container {
    height: 100%;
    background-color: #ffffff;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main {
    height: 600px;
    width: 85vw;
    background-color: #332b2b;
    border-radius: 10px;
  }
  .gif {
    overflow: hidden;
    margin: 30px 0;
    display: flex; /* Располагаем изображения в строку */
    align-items: center;
    justify-content: center;
  }
  .gif img {
    width: 79vw;
    height: 475px;
    border-radius: 15px;
  }
  .content{
    flex-direction: row-reverse;
    width: 80vw;
    justify-content: stretch;
  }
  .text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 75vw;
  }
  .text p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 18px;
  }

}